name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build_test:
    runs-on: ubuntu-latest
    env:
      TF_ACC: 1
    steps:
      - name: Checkout Code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - name: Setup Golang
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v3.2.0
        with:
          go-version-file: go.mod
      - name: Make
        run: make
  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - name: Setup Golang
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v3.2.0
      - name: Goreleaser
        run: ./scripts/goreleaser.sh
